<div class="bg-gray-800 text-white p-4 rounded-lg shadow-md w-30" >
    <!-- Your content here -->
    <div class='w-full h-40 rounded-lg overflow-hidden bg-gray-900'>
        <!-- //img -->
    </div>
    <div class="flex flex-row align-middle justify-between p-2 pb-0">
        <div class="">
            <div class="font-bold">{{product.productName}}</div>
            <div>{{product.price}} $</div>
        </div>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded">Add</button>
    </div>
</div>  